body {
    background-color: darkslategrey;
}

h1 {
    color: whitesmoke;
}

#header-bar {
    background-color: goldenrod;
    width: 100%;
    height:30px;
}

#bar-logo {
    color: darkorchid;
    font-size:x-large;
}


* {
    color:whitesmoke;
}